#navHeader {
	width: 100vw;
	height: 100px;
}

.content {
	width: 100%;
	padding: 1.875rem 15.625rem;
	margin-top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	z-index: 10;
	position: fixed;
}

#navTitle {
	color: #4a4a4a;
	font-family: 'Righteous', cursive;
	font-size: 2.25rem;
	letter-spacing: 0.875rem;
}

#navigation {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	gap: 2.5rem;
}

.navLink {
	font-size: 1.125rem;
	font-weight: 300;
	text-decoration: none;
	color: #4a4a4a;
}

.navLink:focus {
	font-weight: 700;
}
