.cardDisplay {
	padding: 2.5rem 15.625rem;
}

.cardTitle {
	font-size: 1.375rem;
	font-weight: 600;
	color: #4a4a4a;
}

.cardTitle::after {
	background-image: linear-gradient(134.72deg, #ae23a9 0%, #dc4e1b 100%);
	box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.1);
	content: '';
	display: inline-block;
	height: 5px;
	position: relative;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 2.5rem;
}

.cardGrid {
	display: grid;
	grid-gap: 2.1875rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.cardGridItem {
	position: relative;
	width: 100%;
}

.cardText {
	position: absolute;
	color: #ffffff;
	font-size: 1.75rem;
	font-weight: 700;
	top: 14.65rem;
	left: 1.25rem;
}

.cardGridItem > img {
	width: 100%;
	height: 18.125rem;
}
